



.searchClass input {
	background: rgb(20, 138, 248);	
	background: linear-gradient(rgb(44, 115, 247), rgb(44, 115, 247));	
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
  float: left;
	color: rgb(255, 255, 255);
	display: block;

	font-family: 'PT Serif', serif;
	font-size: 33px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 10 10px;
	align-content: center;
	width: 400px;
}

.ie .searchClass input {
	line-height: 40px;
}

.searchClass input::-webkit-input-placeholder {
   color: rgb(243, 234, 234);
}

.searchClass input:-moz-placeholder {
   color: rgb(250, 250, 250);
}

@keyframes glow {
    0% {
		border-color: gray;
		
    }	
    100% {
		border-color: gray;
	
    }
}


ol{
  font-family: 'PT Serif', serif;
  font-size: 1em;
	color: rgb(0, 119, 255);
	cursor: pointer;
	
}
li:hover{
color: rgb(41, 31, 126);
}


h2{
  color: rgb(0, 119, 255);
  text-align: center;
	font-size: 2em;
	font-family: 'PT Serif', serif;
}

h3{
	font-size: 3em;
	font-family: 'PT Serif', serif; 
}
p{

	font-size: 25px;
}
h1{
	text-align: center;
	font-family: 'PT Serif', serif;
	font-size: 40px;
}

input{
	text-align: center;
	font-family: 'PT Serif', serif;
}
#search{
	align-content: center;
	align-self: center;
}
img{
	align-content: center;
	width: 60px;
	height: 40px;
}